html{
  width: 300px;
  height: 108px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #282828;
  color: #E5EAED;
}

.title{
  font: roboto;
  text-align: center;
  width: 300px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #E5EAED;
  background-color: #c4302b;
  color: #E5EAED;
  padding-top: 5px;
  padding-bottom: 5px;
}

.description{
  margin-top: 10px;
  margin-left: 5px;
}